/* Font Style */
* {
  font-family: "Clicker Script", cursive;
  font-family: "Inter", sans-serif;
}
.overflow-y-hidden {
  overflow-x: hidden;
}

.text-nav a:hover,
.text-adira-grey:hover,
.text-adira:hover,
footer a:hover {
  color: #231f20 !important;
}
.bg-adira {
  background-color: #fcd733;
  color: #fff;
}

.text-adira {
  color: #fcd733;
}

.bg-adira:hover {
  background-color: #fbd323;
  color: #fff;
}

.bg-adira-grey {
  background-color: #9d9fa228;
}

.text-adira-grey {
  color: #4a4b65;
}

.bg-footer {
  background-color: #d3d3d3;
}

footer a,
footer h5 {
  color: white;
}

/* Card */

.rounded-5 {
  border-radius: 40px;
}

.card-text {
  color: #231f206b !important;
}

.btn-outline-adira {
  border-color: #fcd733 !important;
  color: #fcd733 !important;
}
