/* Font Style */
* {
  font-family: "Clicker Script", cursive;
  font-family: "Inter", sans-serif;
}
.overflow-y-hidden {
  overflow-x: hidden;
}

.text-mega {
  color: #f47b1f;
}

.text-nav a:hover,
.text-mega-grey:hover,
.text-mega:hover,
footer a:hover {
  color: #f47b1f !important;
}
.bg-mega {
  background-color: #f47b1f;
}

.bg-mega-grey {
  background-color: #9d9fa228;
}

.text-mega-grey {
  color: #4a4b65;
}

.bg-footer {
  background-color: #636466;
}

footer a,
footer h5 {
  color: white;
}

/* Card */

.rounded-5 {
  border-radius: 10%;
}

.card-text {
  color: #adb6bd;
}

.flow {
  bottom: 3%;
}
